<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Ng For Example </h1>
  
      <div>
        FilterBy
        <input type="text" class="form-control" [(ngModel)]="filteredString"/>
      </div>
      
      <div class="col-md-12">
        <div class="panel panel-default" 
        *ngFor="let employee of employeeList  | filterData: filteredString : 'name'">
          <div class="panel-heading">
            <h3 class="panel-title">{{employee.project | lowercase}}</h3>
          </div>
          <div class="panel-body">
            <p [innerText]="employee.id"></p> 
            <p [innerText]="employee.name | shorten : 10"></p>
            <p [innerText]="employee.salary | shortBySalary"></p>  
            <p [innerText]="employee.domain"></p> 
            <p [innerText]="employee.doj | date: 'fullDate' | uppercase"></p> 
          </div>{{isEdit}}
          <button class="btn btn-success" (click)="updateEmployee(employee); isEdit=true">Update</button>
        </div>
    </div>
    </div>
